# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# mac
.DS_Store

# Other
.vscode
*.tsv
*.pt
gpt*.txt
*.env
local/
local_*
build/
*.egg-info/
.idea
.venv

# Project-specific
secrets.toml
*.log
*/assertion.log
*results/
.venv/

# 예제 streamlit 파일
frontend/demo_light

# wish list
wishlist.md
*.csv