[tool.ruff]
# 1. 타겟 파이썬 버전
target-version = "py311"

# [핵심] 줄 길이를 넉넉하게 160으로 늘립니다.
# import 경로가 길면 120자도 넘을 수 있어 Formatter가 강제로 줄바꿈을 시도하기 때문입니다.
line-length = 120

# 2. 제외할 폴더
exclude = [
    ".git",
    ".venv",
    "__pycache__",
    "build",
    "dist",
    "migrations",
]

[tool.ruff.lint]
# 3. 적용할 규칙
select = [
    "E", "F", "W", "I", "B", "UP", "N", "SIM"
]

ignore = [
    "E501", # 줄 길이 에러 무시 (Formatter에게 맡김)
    "B008",
]

[tool.ruff.format]
# 4. 포매팅 스타일
quote-style = "double"
indent-style = "space"
line-ending = "auto"

# [핵심] 마법의 콤마 무시하기
# 이 값이 false(기본값)면, 리스트나 인자 끝에 콤마가 있을 때 Formatter가 강제로 줄바꿈을 해버립니다.
# 이를 true로 설정하면 한 줄에 들어갈 수 있다면 콤마가 있어도 줄바꿈을 하지 않습니다.
skip-magic-trailing-comma = true

[tool.ruff.lint.isort]
# 5. Import 정렬 설정
# 같은 모듈 import를 한 줄로 합침
combine-as-imports = true
known-first-party = ["backend", "my_project"]
lines-after-imports = 2